/ {
    chosen {
        zmk,rgb-underglow = &underglow;
    };

    underglow: underglow {
        compatible = "zmk,rgb-underglow";
        chain-length = <27>;
        color-mapping = <0 1 2>;
        gpios = <&gpio0 6 0>;
    };
};
