/ {
    chosen {
        zmk,rgb-underglow = &underglow;
    };

    underglow: underglow {
        compatible = "zmk,rgb-underglow";
        chain-length = <27>;
        color-mapping = <0 1 2>;
        gpios = <&gpio0 6 0>;
    };
};

// Mouse acceleration: QMK-like settings
&mmv {
    time-to-max-speed-ms = <600>;
    acceleration-exponent = <1>;
    delay-ms = <10>;
};

&msc {
    time-to-max-speed-ms = <600>;
    acceleration-exponent = <1>;
    delay-ms = <10>;
};
